body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://raw.githubusercontent.com/saurabhncode/myfirstproject/main/background.png.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



.container {
  width: 500px;          /* increase width */
  height: 250px;         /* increase height */
  text-align: center;
  background: #fff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}


h1 {
  margin-bottom: 20px;
  font-size: 32px;
  color: #333;
}

button {
  padding: 12px 24px;
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

* {
  box-sizing: border-box;
}


